body{
    width: 100%;
    margin:0;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}

.col1{width: 8.33%;}
.col2{width: 16.66%;}
.col3{width: 24.9%; }
.col4{width: 33.33%;}
.col5{width: 41.65%;}
.col6{width: 50%;}
.col7{width: 58.3%;}
.col8{width: 66.64%;}
.col9{width: 75%;}
.col10{width: 83.3%;}
.col11{width: 92%;}
.col12{width: 100%;}

header{
    width: 100%;
    color: white;
    margin: 0;
    background:linear-gradient(to right, #042457 50%,#000916 ); 
    height: 150px;
}
header div {
    color: white;
    width: 33%;
    text-align: center;
    float: left;
}
.div2{
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
header div img{
    width: 20%;
}
input, ion-icon{
    float: left;
    height: 30px;
}
input[type="text"]  {
    width: 90%;
    height: 2px;
    border: 1px solid;
    border-radius: 10px;
    background: white;
    /* outline: none; */
    color: beige;
    margin-right: 1%;
    box-shadow:-1px 0 0.4em rgb(156, 156, 4);
    font-family: Arial, Helvetica, sans-serif;

}
.formulario{
    margin: 0 auto;
    width: 100%;
}
#login{
    width: 5%;
    margin: 9% auto;
    transition: 0.8s;
}
#login:hover{
    transform: scale(1.5);
}
#as {
    background-color: yellow;
}
main{
    width: 100%;
}
main section img{
    margin-bottom: 6%;
    width: 100%;
    height: 550px;
    box-shadow:-1px 0 0.4em rgb(0, 0, 0);
    transition: 0.2s;
}
main section img:hover{
    transform: scale(1.01);
}
main .col3{
    float: left;
    margin-left: 8.3%;
    
}
main .col6{
    float: left;
    margin-right: 8.3%;
}
main .col6 img{
    height:600px;

}
.tenis div{
    margin-top: 1% ;
    float: left;
    width: 24.5%;
    height: 400px;
    margin-left: 0.5%;
}

.tenis div img{
    width: 100%;
    height: 100%;
}
.descricao{
    text-align: center;;
}
.product-box {
    padding: 4px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
}

.product-box p {
    margin: 5px 0;
}

.product-box ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.product-box ul li::before {
    content: "\2022";
    color: #008cba;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

header #div2{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.Log{
    float: right;
    width: 39%;
    padding-top: 40px;
}

.Cads{
    margin-left: 20% ;
    padding-top: 40px;

}
   
input{
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}
.btn{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    height: 50px;
    
}
.btn:hover{
    background-color: deepskyblue;
    cursor: pointer;
}
.container {
    float: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
section button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.col8 form{
    float: right;
}
.slideshow-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.slide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    0% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}