body{
    width: 100%;
    padding: 0;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    color: white;
    margin: 0;
    background:linear-gradient(to right, #042457 50%,#000916 ); 
    height: 150px;
}
header div {
    color: white;
    width: 33%;
    text-align: center;
    float: left;
}
header #div2{
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
header div img{
    width: 20%;
}
input, ion-icon{
    float: left;
}
input[type="text"]  {
    width: 90%;
    border: 1px solid;
    border-radius: 10px;
    background: transparent;
    /* outline: none; */
    color: beige;
    margin-right: 1%;
    box-shadow:-1px 0 0.4em rgb(156, 156, 4);

}
.formulario{
    margin: 0 auto;
    width: 100%;
}
#login{
    display: inline-block;
    position: relative;
    left: 70%;
    margin-top: 10%;
    font-size: larger;
}