@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047
}
header{
    width: 100%;
    color: white;
    margin: 0;
    background:linear-gradient(to right, #042457 50%,#000916 ); 
    height: 150px;
}
header div {
    color: white;
    width: 33%;
    text-align: center;
    float: left;
}
header #div2{
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
header div img{
    width: 20%;
}
input, ion-icon{
    float: left;
    height: 30px;
}
input[type="text"]  {
    width: 90%;
    height: 24px;
    border: 1px solid;
    border-radius: 10px;
    background: white;
    /* outline: none; */
    color: beige;
    margin-right: 1%;
    box-shadow:-1px 0 0.4em rgb(156, 156, 4);
    font-family: Arial, Helvetica, sans-serif;

}
.formulario{
    margin: 0 auto;
    width: 100%;
}
#login{
    width: 5%;
    margin: 9% auto;
    transition: 0.8s;
}
#login:hover{
    transform: scale(1.5);
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #480ca8;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #f72585;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #f72585;
}

.btn {
    background-color: #f72585;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #ff0676;

}