<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tênis Under Armour Basquete Spawn 3</title>
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="fotos/Design sem nome (3).png" alt=""></a>
        </nav>
        <nav class="div2">
            <div class="formulario">
                <form action="">
                    <input type="text" placeholder="O que você procura?" id="pesquisa">
                    <ion-icon name="search-outline"></ion-icon>
                </form>
            </div>
        </nav>
        <nav>
        <% if (!usuario) { %> 
           <a href="/login"><img src="fotos/login.png" alt="" id="login"></a>
        <% } else { %>
            <h1><a href="/perfil"><ion-icon class="asd" name="person-circle-outline"></ion-icon></a></h1>
         <% } %>
        </nav>
    </header>
    <main class="container">
        <table class="table">
            <% carrinho.forEach(produto => { %>
                <tr>
                    <td><img src="<%=produto.img_produto%>" alt="Slide 1"></td>
                    <td><%=produto.prod_nome%></td>
                    <td><%=produto.prod_preco%></td>
                    <td><%=produto.prod_descricao%></td>
                    <td><button>-</button>1<button>+</button></td><td>
                </tr>
            <% }); %>
        </table>
    </main>
    
<script src="index.js"></script>
</body>
</html>