<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <select>
    <% results.forEach(function(result) { %>
      <option value="<%= result.usu_id %>"><%= result.usu_nome %></option>
    <% }); %>
</select>
</body>
</html>


  