<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tênis Under Armour Basquete Spawn 3</title>
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="fotos/Design sem nome (3).png" alt=""></a>
        </nav>
        <nav class="div2">
            <div class="formulario">
                <form action="">
                    <input type="text" placeholder="O que você procura?" id="pesquisa">
                    <ion-icon name="search-outline"></ion-icon>
                </form>
            </div>
        </nav>
        <nav>
        <% if (!usuario) { %>
           <a href="/login"><img src="fotos/login.png" alt="" id="login"></a>
        <% } else { %>
            <h1><a href="/perfil"><ion-icon class="asd" name="person-circle-outline"></ion-icon></a></h1>
         <% } %>
        </nav>
        
    </header>
    <main>
        <div class="col3">
                <h1>Tênis Under Armour Basquete Spawn 3 Masculino</h1>
                <div class="product-box">
                    <p><strong>Detalhes do Produto:</strong></p>
                    <ul>
                        <li><strong>Indicado para:</strong> Dia a Dia</li>
                        <li><strong>Altura do Cano:</strong> Cano Baixo</li>
                        <li><strong>Material:</strong> Têxtil</li>
                       <li><strong>Composição:</strong> Cabedal: Têxtil e sintético. Entressola: EVA. Solado: Borracha Micro G.</li>
                        <li><strong>Peso do Produto:</strong> 310 g (O peso do produto varia de acordo com a numeração)</li>
                        <li><strong>Tecnologia:</strong> Micro G</li>
                    </ul>
                </div>         
                <h2>RS299.00</h2> 
                <form action="/add-carrinho" method="POST">
                    <input type="hidden" name="idProduto" value="1">
                    <input type="hidden" name="caminhoprod" value="tenis/Tênis Under Armour Basquete Spawn 3 Masculino/39W-3127-026_zoom1.jpg">
                    <button type="submit" class="btn"  > add cart</button>
                </form>
                
                
        </div>
        <div class="col6">
            <div class="slideshow-container">
                <div class="slide fade">
                    <img src="tenis/Tênis Under Armour Basquete Spawn 3 Masculino/39W-3127-026_zoom1.jpg" alt="Slide 1">
                </div>
                <div class="slide fade">
                    <img src="tenis/Tênis Under Armour Basquete Spawn 3 Masculino/39W-3127-026_zoom3.jpg" alt="Slide 2">
                </div>
            </div> 
        </div>
        <section>
        <div class="col8">
            <form method="POST" class="formLogin">
                <h1>CEP</h1>
                <label for="number"></label>
                <input type="number" placeholder="Digite seu CEP" autofocus="true"/>
                <input type="submit" value="Calcular" class="btn" />
            </form>
        </div>    
    </section> 
    </main>
<script src="script.js"></script>
</body>
</html>